<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <h2><a href="/patient/logout">Logout</a></h2>
    <h2><a href="/patient/">Back</a></h2>
    <h2>List Medicine</h2>
    <% if (done) { %>
    <p style="color: red;"><%= done %></p>
    <% } %>
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.type %></td>
                <td><%= el.price %></td>
                <td><a href="/patient/medicine/<%= el.id %>/buy"><button>Buy</button></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>